<%= form_with(scope: :streak, url: activity_streaks_path, local: true) do |form| %>
  <% if streak.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(streak.errors.count, "error") %> prohibited this streak from being saved:</h2>

      <ul>
      <% streak.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="actions">
    <%= form.submit "Start Streakin", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <br>
<% end %>
