<p id="notice"><%= notice %></p>

<h1>Streaks</h1>

<%= render "streaks_chart", streaks: @streaks %>
<table>
  <thead>
    <tr>
      <th>Activity</th>
      <th>Current streak</th>
      <th>Streak Status</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @streaks.each do |streak| %>
      <tr>
        <td><%= streak.activity.title %></td>
        <td><%= streak.current_streak %></td>
        <td><%= streak.status.titleize %></td>
        <td><%= streak.start_date %></td>
        <td><%= streak.end_date %></td>
        <td><%= link_to 'Show', activity_streak_path(streak.activity, streak) %></td>
        <td><%= link_to 'Edit', edit_activity_streak_path(streak.activity, streak) %></td>
        <td><%= link_to 'Destroy', activity_streak_path(streak.activity, streak), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
