<p id="notice"><%= notice %></p>

<p>
  <strong>Activity Title:</strong>
  <%= @streak.activity.title %>
</p>

<p>
  <strong>Current streak:</strong>
  <%= @streak.current_streak %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @streak.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @streak.end_date %>
</p>

<%= link_to 'Edit', edit_activity_streak_path(@streak) %> |
<%= link_to 'Back', activity_streaks_path %>
