<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Current Streak</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><h3><%= activity.title %></h3></td>
        <td><h3><%= activity.streaks.last.current_streak %></h3></td>
        <% if activity.streaks.last.status == "active" %>
          <td><%= link_to 'Update Streak', activity_streak_path(activity, activity.streaks.last), method: :patch, class: "btn btn-primary btn-block" %></td>
        <% else %>
          <td><%= link_to 'New Streak', new_activity_streak_path(activity), class: "btn btn-success btn-block" %></td>
        <% end %>
        <td><%= link_to 'Show Streaks', activity, class: "btn btn-primary btn-block" %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-warning btn-block" %></td>
        <td><%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path, class: "btn btn-lg btn-primary btn-block" %>
