<p id="notice"><%= notice %></p>

<h1>
  <%= @activity.title %>
</h1>

<%= render "activity_streak_chart", activity: @activity %>

<%= link_to 'Start A New Streak', new_activity_streak_path(@activity), class: "btn btn-lg btn-primary btn-block" %>
<%= link_to 'Edit Activity', edit_activity_path(@activity), class: "btn btn-lg btn-secondary btn-block" %>
<%= link_to 'Back To Activities Index', activities_path, class: "btn btn-lg btn-secondary btn-block" %>
